/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

span {
  display: block;
}

section {
  max-width: 1128px;
  margin: 0 auto;
  padding-top: 36px;
}
